<?xml version="1.0"?>
<robot name="arc" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- INCLUDE -->
    <xacro:include filename="$(find arc_description)/urdf/declaration.urdf.xacro" />
    <xacro:include filename="$(find arc_description)/urdf/mechanic_part/thigh.urdf.xacro" />
    <xacro:include filename="$(find arc_description)/urdf/mechanic_part/knee.urdf.xacro" />
    <xacro:include filename="$(find arc_description)/urdf/mechanic_part/base.urdf.xacro" />
    <xacro:include filename="$(find arc_description)/urdf/mechanic_part/wheel.urdf.xacro" />
    <xacro:include filename="$(find arc_description)/urdf/sensors/plugins.urdf.xacro" />
    <xacro:include filename="$(find arc_description)/urdf/sensors/imu.urdf.xacro" />
    <xacro:include filename="$(find arc_description)/urdf/sensors/lidar.urdf.xacro" />
    <xacro:include filename="$(find arc_description)/urdf/sensors/camera.urdf.xacro" />
    <xacro:include filename="$(find arc_description)/urdf/controller/ros2_control.urdf.xacro" />
    <xacro:include filename="$(find arc_description)/urdf/controller/diff_drive.urdf.xacro" />

    <!-- FUNCTION(SETUP) -->
    <xacro:arc_ros2_control />
    <xacro:arc_diff_drive_control />
    <xacro:base
        length="${base_length}"
        width="${base_width}"
        height="${base_height}"
        mass="${base_mass}"
    />

    <xacro:thigh
        frame_id="left_thigh"
        parent="base_link"
        pos_x="${thigh_pos_x}"
        pos_y="${thigh_pos_y}"
        pos_z="${thigh_pos_z}"
        length="${thigh_length}"
        width="${thigh_width}"
        height="${thigh_height}"
        mass=".6" />

    <xacro:thigh
        frame_id="right_thigh"
        parent="base_link"
        pos_x="${thigh_pos_x}"
        pos_y="${-thigh_pos_y}"
        pos_z="${thigh_pos_z}"
        length="${thigh_length}"
        width="${thigh_width}"
        height="${thigh_height}"
        mass=".6" />

    <xacro:knee
        frame_id="left_knee"
        parent="left_thigh"
        pos_x="${(thigh_length+(thigh_length/2))-thigh_width}"
        pos_y="${thigh_width/2}"
        pos_z="0"
        length="${thigh_length}"
        width="${thigh_width}"
        height="${thigh_height}"
        mass=".6" />

    <xacro:knee
        frame_id="right_knee"
        parent="right_thigh"
        pos_x="${(thigh_length+(thigh_length/2))-thigh_width}"
        pos_y="${-thigh_width/2}"
        pos_z="0"
        length="${thigh_length}"
        width="${thigh_width}"
        height="${thigh_height}"
        mass=".6" />

    <xacro:wheel
        side="left"
        parent="left_knee_joint_link"
        radius="${wheel_radius}"
        width="${wheel_width}"
        pos_x="${thigh_length}"
        pos_y="${thigh_width/2}"
        pos_z="0"
        mass="${wheel_mass}"
    />


    <xacro:wheel
        side="right"
        parent="right_knee_joint_link"
        radius="${wheel_radius}"
        width="${wheel_width}"
        pos_x="${thigh_length}"
        pos_y="${-thigh_width/2}"
        pos_z="0"
        mass="${wheel_mass}"
    />

    <xacro:depth_sensor name="eye">
        <origin xyz="${base_length/2} 0 ${base_height/2}" rpy="0 0 0" />
    </xacro:depth_sensor>

    <xacro:laser
        name="lidar"
        parent ="base_link"
        update_rate="10"
        ray_count="64"
        min_angle="-1.39626340159"
        max_angle="1.39626340159"
        min_range="0.1"
        max_range="10.0"
        frame_id="lidar_link"
        topic_name="/scan">
        <origin xyz="0 0 ${(base_height/2) -  0.025 }" rpy="0 0 0" />
    </xacro:laser>
    <xacro:imu />
</robot>